body {
  background-color: #E1E5EA;
  margin: 0 auto 0 auto;
}


.top_container {
  background-color: #354259;
  margin: 0 auto 0 auto;
}

h1 {
  color: #F4EEED;
  font-family: 'Ms Madi', cursive;
  font-size: 100px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  text-align: center;
}

h2 {
  color: #F4EEED;
  font-family: 'Martel', serif;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
  top: 100px;
  text-align: center;
}

p {
  font-size: 1.25rem;
}

.earth {
  display: block;
  height: 25%;
  width: 25%;
  margin: 10px auto;
}

.profile{
  text-align: center;
}

.profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px auto;
}

.hello {
  color: black;
  font-family: 'Ms Madi', cursive;
  font-size: 60px;
  margin: 0 auto;
}

.intro-middle {
  font-family: 'Comfortaa', cursive;
  margin: 20px auto;
  width: 50%;
}

.skill-header {
  color: black;
  font-family: 'Comfortaa', cursive;
}

.skill-row {
  margin: 50px auto 50px auto;
  width: 50%;
}

.skill-title {
  font-family: 'Martel', serif;
}

.python-skill-desc {
  /* clear: left; */
  font-family: 'Comfortaa', cursive;
  line-height: 2;
  text-align: left;
}

.html-skill-desc {
  font-family: 'Comfortaa', cursive;
  line-height: 2;
  text-align: left;
}

.img-python {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.img-html {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.contact-me {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.get-in-touch {
  color: black;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
}

.collab {
  color: black;
  font-family: 'Martel', serif;
  margin: 50px auto;
}


.noodle {
  height: 1.25rem;
  width: 1.25rem;
}

.btn {
  display: inline-block;
  margin-bottom: 20px;
}

.bottom-container {
  background-color: #354259;
  height: 150px;
  text-align: center;
}

.linkedin-link {
  color: white;
  margin: 20px;
  position: relative;
  top: 50px;
}

.credit {
  color: white;
  font-family: 'Comfortaa', cursive;
  margin: 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
